[submodule "netflix-clone-backend"]
	path = netflix-clone-backend
	url = https://github.com/FridayLabz/netflix-clone-backend
[submodule "netflix-clone-frontend"]
	path = netflix-clone-frontend
	url = https://github.com/FridayLabz/netflix-clone-frontend
